<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            $if(title)$
                Jakub Arbet - $title$
            $else$
                Jakub Arbet
            $endif$
        </title>

        <link rel="stylesheet" href="/assets/css/style.css" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rakkas&family=Work+Sans&display=swap" rel="stylesheet">

        <link rel="icon" href="/assets/images/favicon.svg">
        <link rel=”mask-icon” href=”/assets/images/mask-icon.svg” color=”#000000">
        <meta name="theme-color" content="#ffffff">
        <link rel="manifest" href="manifest.json">
    </head>
    <body class="container mx-auto px-8 py-16 font-sans">
        <header>
            <h1 class="font-heading lowercase text-4xl">
            $if(part)$
                Jakub Arbet / $part$
            $else$
                Jakub Arbet
            $endif$
            </h1>
        </header>

        <main role="main">
            $body$
        </main>

        <footer class="mt-16">
            <ul class="lowercase">
                <li class="inline"><a href="https://twitter.com/JakubArbet">/ Twitter</a></li>
                <li class="inline"><a href="https://github.com/KubqoA/">/ GitHub</a></li>
                <li class="inline"><a href="https://linkedin.com/in/jakub-arbet/">/ LinkedIn</a></li>
                <li class="inline"><a href="https://soundcloud.com/jakub-arbet">/ Soundcloud</a></li>
                <li class="inline"><a href="mailto:hi@jakubarbet.me">/ Email</a></li>
                <li class="inline"><a href="/pubkey.txt">/ GPG Public Key</a></li>
                <li class="inline"><a href="https://github.com/KubqoA/dotfiles">/ .</a></li>
            </ul>
        </footer>
    </body>
</html>
