---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="GPG" back="/" fullWidth>
  <div
    class="-mx-6 w-screen border-y-2 border-slate-300 bg-slate-100 px-6 py-8 sm:mx-0 sm:w-full sm:rounded-md sm:border-2 md:py-8"
  >
    <pre
      class="mx-auto w-fit max-w-full overflow-x-auto"><code class="font-monospace">-----BEGIN PGP PUBLIC KEY BLOCK-----

mDMEX5rx4xYJKwYBBAHaRw8BAQdAbsjgWNoGd9g5hrljv4hZFYTt8MreEdTPtOKB
yvtMI6+0Hkpha3ViIEFyYmV0IDxoaUBqYWt1YmFyYmV0Lm1lPoiQBBMWCAA4FiEE
mQ1GpPjkqJWsoU1tiD5IXb0Wc4wFAl+a8eMCGwEFCwkIBwIGFQoJCAsCBBYCAwEC
HgECF4AACgkQiD5IXb0Wc4zgigEAjoP+yLvk4GnSH3Mfq8ckaj+ovr8zhRBXXODx
/o1ySYABAPXV7z8MglglxClMvgOLHeH13j9wukPPEn8bDr7j/wMHuDMEZUJOrhYJ
KwYBBAHaRw8BAQdAH/dK1KL2EXP0u8miaj3M+at9opQUcb5g+xzQDBzCtWKI9QQY
FggAJhYhBJkNRqT45KiVrKFNbYg+SF29FnOMBQJlQk6uAhsCBQkB4TOAAIEJEIg+
SF29FnOMdiAEGRYIAB0WIQSTS8P99KEbvZD9UhlOs5qAtSZy7AUCZUJOrgAKCRBO
s5qAtSZy7D0KAPoDJAjViWFbQIKkZzAB3q3vUskHEl9ZxUFJW/W63/vUOAD/dNYb
aPCzcefsEdJdjTs4ZXRvoMdJlE+0Qo7XEi8UdQRqWAEAo8mcYayft2SRMzNugRUG
t8XLCyyjbrNYzlHqh48eGC0BAPMfgqeyrAyYNVExS/Y73lgPIv+/XHKpk01avRj2
Yw4P
=9spz
-----END PGP PUBLIC KEY BLOCK-----</code></pre>
  </div>
</BaseLayout>
