---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <p
    class="mb-4 font-sans text-lg leading-8 text-gray-800 md:mb-2 md:text-xl md:leading-8"
  >
    Hi, I'm 23, currently working as Software Engineer at <a
      href="https://vacuumlabs.com/"
      class="bg-gradient-to-r from-pink-700 to-pink-500 bg-clip-text text-transparent"
      >Vacuumlabs</a
    > and studying Computer Science.<br />
  </p>
  <p class="font-sans text-lg leading-8 text-gray-800 md:text-xl">
    I also love <a
      href="/photography"
      class="bg-gradient-to-r from-emerald-600 to-teal-500 bg-clip-text text-transparent"
      >photography</a
    >, creating <a
      href="https://soundcloud.com/jakub-arbet"
      class="bg-gradient-to-r from-amber-600 to-amber-500 bg-clip-text text-transparent"
      >music</a
    >, and occassionally <a
      href="/writing"
      class="bg-gradient-to-r from-sky-600 to-sky-500 bg-clip-text text-transparent"
      >writing</a
    > about things I find interesting.
  </p>
</BaseLayout>
