---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="Photography" back="/">
	<p class="font-sans text-lg md:text-xl text-gray-800 leading-8 mb-4 md:mb-2">
		Coming soon...
	</p>
</BaseLayout>
