---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Writing" back="/">
  <p class="mb-4 font-sans text-lg leading-8 text-gray-800 md:mb-2 md:text-xl">Coming soon...</p>
</BaseLayout>
