<footer class="mt-4 print:hidden">
  <ul class="text-secondary mb-2 flex gap-3">
    <li>
      <a
        class="lowercase underline"
        href="https://linkedin.com/in/jakub-arbet"
        target="_blank"
        rel="noopener noreferrer">LinkedIn</a
      >
    </li>
    <li>
      <a class="lowercase underline" href="https://github.com/KubqoA" target="_blank" rel="noopener noreferrer"
        >GitHub</a
      >
    </li>
    <li>
      <a class="lowercase underline" href="mailto:hi@jakubarbet.me?subject=Hi%20Jakub">hi@jakubarbet.me</a>
    </li>
  </ul>
  <p class="text-tertiary font-sans text-xs">
    The content for this site is licensed under <a
      href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1"
      target="_blank"
      rel="license noopener noreferrer"
      class="underline"
    >
      CC BY-SA 4.0</a
    >. The <a href="https://github.com/KubqoA/jakubarbet.me" class="underline">code for this site</a> is <a
      href="https://opensource.org/licenses/MIT"
      target="_blank"
      rel="license noopener noreferrer"
      class="underline">MIT</a
    >.
  </p>
</footer>
