---
const {class: className = ''} = Astro.props
---

<div
  class={`font-sans prose dark:prose-invert prose-gray text-pretty prose-a:text-gray-700 dark:prose-a:text-gray-300 ${className}`}
>
  <slot />
</div>
