---
const skills = {
  Languages: ['TypeScript', 'JavaScript', 'Ruby', 'PHP', 'SQL', 'Nix', 'Python', 'Bash', 'C', 'Haskell'],
  'Frameworks & Libraries': ['Ruby on Rails', 'Vue.js', 'React', 'Astro', 'Hotwire', 'Laravel'],
  'Tools & Technologies': ['Git', 'Docker', 'Podman', 'Cardano', 'Linux', 'Hetzner', 'AWS', 'Heroku'],
  Databases: ['PostgreSQL', 'SQLite', 'Redis', 'ClickHouse'],
}
---

<div class="grid gap-2 sm:grid-cols-2">
  {
    Object.entries(skills).map(([key, value]) => (
      <section>
        <h3 class="text-tertiary mb-0.5">{key}</h3>
        <p class="text-secondary">{value.join(', ')}</p>
      </section>
    ))
  }
</div>
