---
const {title, back, fullWidth = false} = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Jakub Arbet's personal website" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Rubik&family=Space+Mono&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Rubik&family=Space+Mono&display=swap"
        rel="stylesheet"
      />
    </noscript>
    <title>{title ? `${title} | Jakub Arbet` : 'Jakub Arbet'}</title>
  </head>
  <body class="w-full">
    <div class="container mx-auto px-6 sm:px-8 md:px-16">
      <div class={!fullWidth && 'max-w-[1000px]'}>
        <header class="mb-8 mt-10 md:mb-12 md:mt-16 xl:mt-32 2xl:mt-40">
          <h1
            class={`font-monospace text-2xl md:text-4xl ${title ? 'text-gray-600 mb-1 md:mb-3' : 'text-gray-950 pb-9 md:pb-11'}`}
          >
            Jakub Arbet
          </h1>
          {
            (title || back) && (
              <div class="flex h-8 flex-row items-center justify-between">
                {title && (
                  <h2 class="font-monospace text-2xl text-gray-950 md:text-4xl">{title}</h2>
                )}
                {back && (
                  <a
                    href={back}
                    class="font-monospace text-xl lowercase text-gray-600 hover:text-gray-950"
                  >
                    &leftarrow; Back
                  </a>
                )}
              </div>
            )
          }
        </header>
        <main>
          <slot />
        </main>
        <footer class="mt-16 pb-16 2xl:pb-32">
          <div class="mb-6 flex flex-col space-y-3 md:flex-row md:space-x-5 md:space-y-0">
            <a
              href="https://www.linkedin.com/in/jakub-arbet/"
              class="block font-monospace lowercase text-gray-600"
            >
              LinkedIn
            </a>
            <a href="/cv" class="block font-monospace lowercase text-gray-600">CV</a>
            <a href="https://github.com/KubqoA" class="block font-monospace lowercase text-gray-600"
              >GitHub</a
            >
            <a
              href="mailto:hi@jakubarbet.me?subject=Hi%20Jakub!"
              class="block font-monospace lowercase text-gray-600">hi(at)jakubarbet.me</a
            >
            <a href="/gpg" class="block font-monospace lowercase text-gray-600">GPG Public Key</a>
          </div>
          <p class="font-sans text-xs text-gray-500">
            The content for this site is licensed under <a
              href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1"
              target="_blank"
              rel="license noopener noreferrer"
              class="underline"
            >
              CC BY-SA 4.0</a
            >. The <a href="https://github.com/KubqoA/jakubarbet.me" class="underline"
              >code for this site</a
            > is <a
              href="https://opensource.org/licenses/MIT"
              target="_blank"
              rel="license noopener noreferrer"
              class="underline">MIT</a
            >.
          </p>
        </footer>
      </div>
    </div>
  </body>
</html>
