---
import Footer from '../components/Footer.astro'
import '../styles/global.css'

interface Props {
  class?: string
  title?: string
  fullWidth?: boolean
}

const {class: className, title, fullWidth = false} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Jakub Arbet | {title ?? 'Software Engineer'}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet" />
  </head>
  <body class="text-primary h-full w-full bg-gray-50 font-sans dark:bg-gray-900 print:bg-white">
    <div
      class="mx-auto flex flex-col gap-8 px-6 py-12 sm:px-12 sm:py-20 print:max-w-full print:px-1 print:py-1"
      class:list={[className, fullWidth ? 'max-w-6xl' : 'max-w-2xl']}
    >
      <slot />
      <Footer />
    </div>
  </body>
</html>
